/* Base Styles -------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  background: #15052e;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: 300;
}

ul {
  list-style: none;
}

h1 {
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  font-weight: 300;
  font-size: 96px!important;
  letter-spacing: .5em;
  -webkit-text-stroke: 3px magenta;
  &:hover {
    text-decoration: none!important;
    color: lighten(magenta, 25%);
  }
}

p {
  font-weight: 300;
}

a {
  color: magenta!important;
  text-decoration: none!important;
  &:hover {
    color: magenta!important;
    text-decoration: none!important;
  }
  &:active {
    color: magenta!important;
    text-decoration: none!important;
  }
  &:visited {
    color: magenta!important;
    text-decoration: none!important;
  }
}

input {
  color: #666;
}


/* Pseudo-classes ------------------ */
