button {
  margin-top: 20px;
  width: 150px;
  height: 40px;
  color: white;
  letter-spacing: 0.1em;
  border-radius: 5px;
  border: none;
  background: RoyalBlue ;
  font-weight: 400;
  &:hover {
    background: #15052e;
    border: 1px solid RoyalBlue;
  }
}
