<header class = "jumbotron">
  <div class="font-effect-neon">
    {{#link-to 'index'}}
    <h1><i class="fa fa-moon-o"></i> PSYCHIC <i class="fa fa-hand-paper-o"></i></h1>
    {{/link-to}}
  </div>
</header>

<div class="wrapper">
  {{outlet}}
</div>
